In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import os
from dotenv import load_dotenv

In [2]:
load_dotenv()

costos = pd.read_csv(os.getenv('RUTA_COSTOS'))
insumos = pd.read_csv(os.getenv('RUTA_INSUMOS'))
proveedores = pd.read_csv(os.getenv('RUTA_PROVEEDORES_PROCESADOS'))
arriendos = pd.read_csv(os.getenv('RUTA_ARRIENDOS'))

In [3]:
costos.head(5)

,Boleta,Fecha,Proveedor,Producto,Cantidad,Precio_Unitario,Dscto,Total
0,0,2023-03-02,76.746.599-8,1.0,1.0,2390.00,0.0,2390.0
1,0,2023-03-02,76.746.599-8,2.0,1.0,4100.00,0.0,4100.0
2,1,2023-03-02,76.979.850-1,7.0,20.0,138.79,0.0,2775.8
3,2,2023-03-02,77.318.793-2,3.0,50.0,195.00,0.0,9750.0
4,3,2023-03-02,77.372.135-1,56.0,1.0,7900.00,0.0,7900.0

In [4]:
costos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Boleta           2550 non-null   int64
 1   Fecha            2550 non-null   object
 2   Proveedor        2550 non-null   object
 3   Producto         2550 non-null   float64
 4   Cantidad         2545 non-null   float64
 5   Precio_Unitario  2544 non-null   float64
 6   Dscto            2550 non-null   float64
 7   Total            2550 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 159.5+ KB

In [5]:
costos.describe()

,Boleta,Producto,Cantidad,Precio_Unitario,Dscto,Total
count,2550.000000,2550.000000,2545.000000,2544.000000,2550.000000,2550.000000
mean,585.183137,356.755294,5.141269,5544.634726,558.831373,6181.811241
std,334.998300,454.469640,15.636859,36579.658819,15409.747013,32984.663683
min,0.000000,-1.000000,0.060000,6.700000,0.000000,0.000000
25%,303.000000,27.000000,1.000000,1000.000000,0.000000,1547.000000
50%,583.500000,56.000000,1.000000,1890.000000,0.000000,2249.000000
75%,863.000000,1008.000000,2.054000,3282.500000,0.000000,4239.061500
max,1167.000000,1053.000000,200.000000,580000.000000,560100.000000,580000.000000